<div class="container-fluid" style="padding: 20px 20px">
  <div class="admin_faculty_header">
    <h3 style="display: inline-block">CLASSES</h3>
    <a href="/admin/add_class" style="display:inline-block; float:right"><button class="btn btn-sm ml-auto">&plus;&ensp;Add Class</button></a>
    <hr>
  </div>
  <div class="admin_faculty_table">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Batch</th>
            <th>Section</th>
            <th>Adviser</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>2012</td>
            <td>1</td>
            <td>Kim Leslie Faina</td>
            <td><a href="">view</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
