<div class="container-fluid" style="padding: 20px 20px">
  <div class="admin_faculty_header">
    <h3 style="display: inline-block">FACULTIES</h3>
    <a href="/admin/add_faculty" style="display:inline-block; float:right"><button class="btn btn-sm ml-auto">&plus;&ensp;Add Faculty</button></a>
    <hr>
  </div>
  <div class="admin_faculty_table">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Admin</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2</td>
            <td>Kim Leslie Faina</td>
            <td>kimlesliefaina.klf@gmail.com</td>
            <td>09169783384</td>
            <td>&check;</td>
            <td><a href="">view</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
