<!DOCTYPE html>
<html>
  <head>
    <title>Thesis Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
  </head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap//dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap//dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Khand'>
    <link rel="stylesheet" type="text/css" href="/css/faculty/faculty.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!--CPE LOGO-->
      <a class="navbar-brand" href="#"><img src="/images/cpe_logo.png" style="width: 50px; height: 50px;">&ensp;Faculty</a>
      <div class="ml-auto" style="width: 85%">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
      </div>
      <div class="ml-auto">
        <a href="/logout">Sign Out</a>
      </div>
    </nav>
    <!--Start: SideNavBar-->
      <div id="sidenav" class="side-navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/faculty">
              <img src="">&ensp;Dashboard
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/faculty/classes">
              <img src="">&ensp;Classes
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/admin">
              <img src="">&ensp;Groups
            </a>
          </li>
        </ul>
      </div>
      <!--END: SideNavBar-->

      <!--START: BODY-->
      <div class="main">
        {{{body}}}
      </div>
      <!--END: BODY-->
  </body>
</html>