<div class="container-fluid" style="padding: 20px 20px">
  <div class="faculty_header">
    <h3 style="display: inline-block">MY CLASSES</h3>
    <hr>
  </div>
  <div class="faculty_table">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Batch</th>
            <th>Section</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>2012</td>
            <td>1</td>
            <td><a href="">view</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
