<div class="container-fluid" style="padding: 20px 20px">
  <div class="student_header">
    <h3>HOME</h3>
    <hr>
  </div>
  <div class="student_body">
    <ul style="list-style: none">
      <li>Name: Steph Curry</li>
      <li>Class: 2014-1</li>
      <li>Adviser: Remy Ado</li>
    </ul>
  </div>
</div>
